{% extends "store/base.html" %}

{% block title %}Home{% endblock title %}
{% block body %}

    <h1>This is the Store Home!</h1>

    {% load static %}
    <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{% static 'store/product_1.jpg' %}" class="d-block w-100" alt="watch">
        </div>
        <div class="carousel-item">
        <img src="{% static 'store/product_2.jpg' %}" class="d-block w-100" alt="Nike Shoes">
        </div>
        <div class="carousel-item">
        <img src="{% static 'store/product_3.jpg' %}" class="d-block w-100" alt="Headphones">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>






    <div>
        {% for item in data %}
            <h3>{{ item.item_name }}</h3>
            <h5>{{ item.price }}</h5>
            <h4>{{ item.category }}</h4>
            <p>{{ item.description }}</p>

        {% endfor %}
    </div>

{% endblock body %}
