{% extends "store/base.html" %}

{% block title %}Products{% endblock title %}
{% block body %}

    <h1>This is the Products Page</h1>


    <div class="card-group">
    {% for item in data %}
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h5 class="card-subtitle mb-2 text-body-secondary">Category: {{ item.category }}</h5>
                <h5>Price: {{ item.price }} Rupees</h5>
                <p class="card-text">{{ item.description }}</p>
                <h6>date: {{ item.date_posted }}</h6>
                <h6>by: {{ item.vendor }}</h6>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock body %}